# Google Search Console verification (optionnel)
# PUBLIC_GOOGLE_SITE_VERIFICATION=

# Cloudinary (obligatoire pour les images)
PUBLIC_CLOUDINARY_CLOUD_NAME="<Your Cloud Name>"
# Uniquement si upload programmatique (optionnel pour un blog)
# PUBLIC_CLOUDINARY_API_KEY="<Your API Key>"
# CLOUDINARY_API_SECRET="<Your API Secret>"
